@import "tailwindcss";
@layer utilities {
  .gradient {
    @apply bg-linear-to-r from-teal-600 via-blue-600 to-pink-600;
  }

  .faded-text {
    @apply font-bold text-sm text-gray-400;
  }

  .divider {
    @apply w-full h-0.5 my-6 bg-gray-800;
  }
}
